In [ ]:
# Bismillah

In [1]:
!pip install pandas datareader

^C

In [1]:
import numpy as np
import pandas as pd
import datetime
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('precision', 7)
from pandas_datareader import data

In [2]:
type(2014-8-1)
# it looks date to us, but for pandas, it is just an int. So, the operations permitted on date cannot be performed
# on this int.
# If we enter date in this format in datetime function, shown below, then we will get error since pandas does not
# recognize date in this format as a date.

int

In [3]:
datetime.datetime(2014, 8, 1, 9, 30, 45, 100000)
# datetime object created. So, relevant operations can be performed on it now.
# year, month, day, hours, minutes, seconds, and microseconds must be seperated by a comma.

datetime.datetime(2014, 8, 1, 9, 30, 45, 100000)

In [4]:
type(datetime.datetime(2014, 8, 1, 9, 30, 45, 100000))

datetime.datetime

In [5]:
dates = [datetime.datetime(2014, 8, 1), datetime.datetime(2014, 8, 2)]
dates
# a list of datetime objects created.

[datetime.datetime(2014, 8, 1, 0, 0), datetime.datetime(2014, 8, 2, 0, 0)]

In [6]:
type(dates)

list

In [7]:
type(dates[0])

datetime.datetime

In [8]:
dti = pd.DatetimeIndex(dates)
dti
# datetime index created from a list of datetime objects. Each item in DatetimeIndex is an object of Timestamp class.

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [9]:
type(dti)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
type(dti[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
ts = pd.Series(np.random.randn(2))
ts
# the index is zero-based integer index.

0   -1.2887344
1    0.6808795
dtype: float64

In [12]:
type(ts)

pandas.core.series.Series

In [13]:
ts1 = pd.Series(np.random.randn(2), dates)
ts1
# the index is datetime index rather than zero-based integer index.
# a series will automatically construct a DatetimeIndex as its index when passing a list of datetime objects (dates)
# as the index parameter.

2014-08-01    0.6324414
2014-08-02    0.6394358
dtype: float64

In [14]:
type(ts1)

pandas.core.series.Series

In [15]:
ts2 = pd.Series(np.random.randn(2), dti)
ts2
# here we have directly passed the DatetimeIndex as the index parameter.

2014-08-01   -1.3160874
2014-08-02   -1.2353429
dtype: float64

In [16]:
type(ts2)

pandas.core.series.Series

In [17]:
ts2.index
# the index of the series is DatetimeIndex as can be confirmed from the following type command.

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [18]:
type(ts2.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
# Important: The series object has taken the datetime objects (contained in the variable, dates) and constructed a 
# DatetimeIndex from the date values contained in the datetime objects. Each value of the DatetimeIndex is the 
# Timestamp object and each element (Timestamp) of the DatetimeIndex can be used to access the corresponding value in
# the Series object. This is demonstrated in the following:

In [20]:
ts2

2014-08-01   -1.3160874
2014-08-02   -1.2353429
dtype: float64

In [21]:
ts2['2014-08-01']
# first row retreived using [] without slicing, loc or iloc. It is possible because there is only one column since
# this is a series. So, all we can give is an argument for a row or rows so pandas doesn't get confused.

-1.3160873656381749

In [22]:
ts2['2014-08-01':'2014-08-02']
# the end date is inclusive.

2014-08-01   -1.3160874
2014-08-02   -1.2353429
dtype: float64

In [23]:
ts2[datetime.datetime(2014, 8, 1)]
# instead of using the date in the string with - seperator, we can use the date with , seperator without '' to produce
# the same output.

-1.3160873656381749

In [24]:
# The next method to create DatetimeIndex by passing a list of dates in string as shown below:

In [25]:
dates = ['2014-08-01', '2014-08-02']
dates

['2014-08-01', '2014-08-02']

In [26]:
type(dates)
# list of strings.

list

In [27]:
type(dates[0])
# the first element (date) in the list is of type string and the same is the second element.

str

In [28]:
ts3 = pd.Series(np.random.randn(2), dates)
ts3
# here dates as a string have been passed as an index argument. But the pandas itself figured out that these are dates
# and converted them into DatetimeIndex as shown below.

2014-08-01    1.5824896
2014-08-02   -0.4391115
dtype: float64

In [29]:
type(ts3.index)

pandas.core.indexes.base.Index

In [30]:
# convert a list of mixed type items/elements into DatetimeIndex using pandas' function, to_datetime().

In [31]:
dti2 = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None])
dti2
# note that all are strings in the list except the keyword, None.
# all the strings have been converted into DatetimeIndex (pandas recognized dates as shown below:)
# None has been converted into NaT (not a time-value), which means that the source data could not be converted into
# datetime.

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [32]:
type(dti2)

pandas.core.indexes.datetimes.DatetimeIndex

In [33]:
#dti3 = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', 'foo'], coerce = True)
# gives error. pandas cannot parse 'foo' since it does not seem like a date. Previously, pandas recognized the keyword
# None, so didn't give the error and produced NaT. Also, the coerce parameter is not working here unlike in the book.

In [34]:
# Changing the date order: The default order is

In [35]:
dti = pd.to_datetime(['2014, 8, 1'])
dti
# 8 is taken as a month and 1 as a date.

DatetimeIndex(['2014-08-01'], dtype='datetime64[ns]', freq=None)

In [36]:
dti = pd.to_datetime(['8, 1, 2014'])
dti
# same result produced, 8 is the month and 1 is the date.

DatetimeIndex(['2014-08-01'], dtype='datetime64[ns]', freq=None)

In [37]:
dti = pd.to_datetime(['8, 1, 2014'], dayfirst = True)
dti
# if we mean to say that the date is 8th of January, then we have to tell pandas that the first argument is the day or
# date by typing 'dayfirst = True' since by default pandas will treat the first value as the month and the second as
# a day or date.
# now the date is 8th of January as we desired.

DatetimeIndex(['2014-01-08'], dtype='datetime64[ns]', freq=None)

In [38]:
dti[0]

Timestamp('2014-01-08 00:00:00')

In [39]:
# Using date_range function to create DatetineIndex (a series of TimeStamps):

In [40]:
dates = pd.date_range('8, 1, 2014', periods = 10)
dates

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

In [41]:
s1 = pd.Series(np.random.randn(10), dates)
s1

2014-08-01   -0.0174098
2014-08-02   -0.7708927
2014-08-03    0.5551351
2014-08-04   -0.6495209
2014-08-05    0.7946129
2014-08-06   -1.3418199
2014-08-07    1.5190445
2014-08-08   -0.8097943
2014-08-09   -0.8916212
2014-08-10    0.5263542
Freq: D, dtype: float64

In [42]:
s1.index

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', '2014-08-04',
               '2014-08-05', '2014-08-06', '2014-08-07', '2014-08-08',
               '2014-08-09', '2014-08-10'],
              dtype='datetime64[ns]', freq='D')

In [43]:
type(s1.index)

pandas.core.indexes.datetimes.DatetimeIndex

# S&P 500 Example:

In [44]:
msft = data.DataReader('MSFT', 'yahoo', '2012-1-1', '2013-12-30')
msft[:5]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-01-03,26.9599991,26.3899994,26.5499992,26.7700005,64731500.0,21.6231384
2012-01-04,27.4699993,26.7800007,26.8199997,27.3999996,80516100.0,22.1320095
2012-01-05,27.7299995,27.2900009,27.3799992,27.6800003,56081400.0,22.3581734
2012-01-06,28.1900005,27.5300007,27.5300007,28.1100006,99455500.0,22.7055054
2012-01-09,28.1000004,27.7199993,28.0499992,27.7399998,59706800.0,22.4066410

In [45]:
msft.loc['2012-01-03']
# Thus, using DatetimeIndex, any desirable part of the dataframe can be accessed for any period.

High         2.6959999e+01
Low          2.6389999e+01
Open         2.6549999e+01
Close        2.6770000e+01
Volume       6.4731500e+07
Adj Close    2.1623138e+01
Name: 2012-01-03 00:00:00, dtype: float64

In [46]:
msftAC = msft['Adj Close']
msftAC.head(5)

Date
2012-01-03    21.6231384
2012-01-04    22.1320095
2012-01-05    22.3581734
2012-01-06    22.7055054
2012-01-09    22.4066410
Name: Adj Close, dtype: float64

In [47]:
msftAC['2012-01-03']
# Nothe that msftAC is a series, therefore, a row index (which is DatetimeIndex) can be used with [] without slicing, 
# loc or iloc.

21.623138427734375

In [48]:
msftAC['2012-01-01':'2012-01-05']
# DatetimeIndex can easily allow access to any chunk of dataframe for any desirable period.

Date
2012-01-03    21.6231384
2012-01-04    22.1320095
2012-01-05    22.3581734
Name: Adj Close, dtype: float64

In [49]:
msft['2012-02']
# Note that this didn't require the use of the .loc method, as pandas first identifies this as a partial date and then
# looks along the index of the dataframe instead of column (although .loc can be used to perform the same operation).

C:\Users\Hp\AppData\Local\Temp/ipykernel_15332/3994141690.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  msft['2012-02']

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-02-01,30.0499992,29.7600002,29.7900009,29.8899994,67409900.0,24.1432705
2012-02-02,30.1700001,29.7099991,29.8999996,29.9500008,52223300.0,24.1917381
2012-02-03,30.3999996,30.0900002,30.1399994,30.2399998,41838500.0,24.4259872
2012-02-06,30.2199993,29.9699993,30.0400009,30.2000008,28039700.0,24.3936768
2012-02-07,30.4899998,30.0499992,30.1499996,30.3500004,39242400.0,24.5148354
2012-02-08,30.6700001,30.2199993,30.2600002,30.6599998,49659100.0,24.7652302
2012-02-09,30.7999992,30.4799995,30.6800003,30.7700005,50481600.0,24.8540859
2012-02-10,30.7999992,30.3600006,30.6399994,30.5000000,44605300.0,24.6359959
2012-02-13,30.7700005,30.4300003,30.6299992,30.5799999,33319800.0,24.7006168
2012-02-14,30.4599991,29.8500004,30.3299999,30.2500000,59644000.0,24.5949135
2012-02-15,30.3899994,30.0300007,30.3299999,30.0499992,43311300.0,24.4323101
2012-02-16,31.5499992,30.2999992,30.3099995,31.2900009,94705100.0,25.4404984
2012-02-17,31.3199997,30.9500008,31.2000008,31.2500000,70036500.0,25.4079781
2012-02-21,31.6100006,31.1499996,31.1800003,31.4400005,50829900.0,25.5624580
2012-02-22,31.6800003,31.1800003,31.4500008,31.2700005,49253200.0,25.4242325
2012-02-23,31.5900002,31.0000000,31.2000008,31.3700008,35034700.0,25.5055389
2012-02-24,31.5000000,31.2399998,31.4799995,31.4799995,35575400.0,25.5949726
2012-02-27,31.5000000,31.1000004,31.2399998,31.3500004,34568400.0,25.4892788
2012-02-28,31.9300003,31.3799992,31.4099998,31.8700008,45230600.0,25.9120693
2012-02-29,32.0000000,31.6100006,31.8899994,31.7399998,59323600.0,25.8063717

In [50]:
msft['2012-02':'2012-02-09']
# the slice will start at the beginning of the month.

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2012-02-01,30.0499992,29.7600002,29.7900009,29.8899994,67409900.0,24.1432705
2012-02-02,30.1700001,29.7099991,29.8999996,29.9500008,52223300.0,24.1917381
2012-02-03,30.3999996,30.0900002,30.1399994,30.2399998,41838500.0,24.4259872
2012-02-06,30.2199993,29.9699993,30.0400009,30.2000008,28039700.0,24.3936768
2012-02-07,30.4899998,30.0499992,30.1499996,30.3500004,39242400.0,24.5148354
2012-02-08,30.6700001,30.2199993,30.2600002,30.6599998,49659100.0,24.7652302
2012-02-09,30.7999992,30.4799995,30.6800003,30.7700005,50481600.0,24.8540859

# Creating time-series with specific frequencies:

In [51]:
dates = pd.date_range('2014-08-01', '2014-10-29 23:59:00', freq = 'T')
dates
# create DatetimeIndex with hourly frequency. The default is 'D' for daily. Weekly, monthly etc is also possible.

DatetimeIndex(['2014-08-01 00:00:00', '2014-08-01 00:01:00',
               '2014-08-01 00:02:00', '2014-08-01 00:03:00',
               '2014-08-01 00:04:00', '2014-08-01 00:05:00',
               '2014-08-01 00:06:00', '2014-08-01 00:07:00',
               '2014-08-01 00:08:00', '2014-08-01 00:09:00',
               ...
               '2014-10-29 23:50:00', '2014-10-29 23:51:00',
               '2014-10-29 23:52:00', '2014-10-29 23:53:00',
               '2014-10-29 23:54:00', '2014-10-29 23:55:00',
               '2014-10-29 23:56:00', '2014-10-29 23:57:00',
               '2014-10-29 23:58:00', '2014-10-29 23:59:00'],
              dtype='datetime64[ns]', length=129600, freq='T')

In [52]:
np_array = np.arange(0, 90 * 60 * 24)
np_array

array([     0,      1,      2, ..., 129597, 129598, 129599])

In [53]:
bymin = pd.Series(np_array, dates)
bymin
# the first argument for the values of the series and the second one is for the index of the series.

2014-08-01 00:00:00         0
2014-08-01 00:01:00         1
2014-08-01 00:02:00         2
2014-08-01 00:03:00         3
2014-08-01 00:04:00         4
                        ...
2014-10-29 23:55:00    129595
2014-10-29 23:56:00    129596
2014-10-29 23:57:00    129597
2014-10-29 23:58:00    129598
2014-10-29 23:59:00    129599
Freq: T, Length: 129600, dtype: int32

In [54]:
bymin['2014-08-01 12:30:00':'2014-08-01 12:59']
# the data can be extracted to the minute details.

2014-08-01 12:30:00    750
2014-08-01 12:31:00    751
2014-08-01 12:32:00    752
2014-08-01 12:33:00    753
2014-08-01 12:34:00    754
2014-08-01 12:35:00    755
2014-08-01 12:36:00    756
2014-08-01 12:37:00    757
2014-08-01 12:38:00    758
2014-08-01 12:39:00    759
2014-08-01 12:40:00    760
2014-08-01 12:41:00    761
2014-08-01 12:42:00    762
2014-08-01 12:43:00    763
2014-08-01 12:44:00    764
2014-08-01 12:45:00    765
2014-08-01 12:46:00    766
2014-08-01 12:47:00    767
2014-08-01 12:48:00    768
2014-08-01 12:49:00    769
2014-08-01 12:50:00    770
2014-08-01 12:51:00    771
2014-08-01 12:52:00    772
2014-08-01 12:53:00    773
2014-08-01 12:54:00    774
2014-08-01 12:55:00    775
2014-08-01 12:56:00    776
2014-08-01 12:57:00    777
2014-08-01 12:58:00    778
2014-08-01 12:59:00    779
Freq: T, dtype: int32

### Representing intervals of time using periods:
#### Period () method is used to determine a period starting and ending at the desired dates with the specified frequencies.

In [55]:
aug2014 = pd.Period('2014-08', freq = 'M')
aug2014
# pd.period('2014-08', 'M') #contains only two dates, 1st and 31 of Aug, 2014 since the frequency is monthly.

Period('2014-08', 'M')

In [56]:
aug2014.start_time, aug2014.end_time
# pandas assumes the start date to be 1st of Aug, when only month (partial date) is mentioned. Then using the one 
# month frequency, it figures the end date to be 31st of Aug.

(Timestamp('2014-08-01 00:00:00'), Timestamp('2014-08-31 23:59:59.999999999'))

In [57]:
sep2014 = aug2014 + 1
sep2014
# operators overloading when plus sign in this carries a different meaning and operation that it's usual behaviour.
# In this case, addition of 1 to aug2014 will create the next month (sep2014) since the existing period (aug2014) is 
# based on a monthly frequency. If it were based on a quarterly frequency, then +1 will create next quarter.

Period('2014-09', 'M')

In [58]:
sep2014.start_time, sep2014.end_time
# note that the pandas itself has figured out that September has 30 days unlike Aug that ended with the date 31.

(Timestamp('2014-09-01 00:00:00'), Timestamp('2014-09-30 23:59:59.999999999'))

In [59]:
# Period Objects: can be combined to form a PeriodIndex as shown below:

In [60]:
mp2013 = pd.period_range('2013-01-01', '2013-12-31', freq = 'M')
mp2013[0]
# PeriodIndex has been created as shown below and confirmed in the type command.
# In PeriodIndex, the index labels are period objects whereas in DatetimeIndex the index labels are TimeStamps.

Period('2013-01', 'M')

In [61]:
type(mp2013)

pandas.core.indexes.period.PeriodIndex

In [62]:
type(mp2013[0])
# PeriodIndex contains period objects.

pandas._libs.tslibs.period.Period

In [63]:
for p in mp2013:
    print ("{0} {1} {2} {3}".format(p, p.freq, p.start_time, p.end_time))
# first '2013-01' is taken from 'mp2013' and put in p, then print is executed. In print, the {} represents placeholders
# for what comes in () after format. For instance,p relates with {0}, p.freq relates with {1} and so on. Note that the
# PeriodIndex has Period objects as can be seen immediately above. Therefore, they have the property of .start_time and
# .end_time.

2013-01 <MonthEnd> 2013-01-01 00:00:00 2013-01-31 23:59:59.999999999
2013-02 <MonthEnd> 2013-02-01 00:00:00 2013-02-28 23:59:59.999999999
2013-03 <MonthEnd> 2013-03-01 00:00:00 2013-03-31 23:59:59.999999999
2013-04 <MonthEnd> 2013-04-01 00:00:00 2013-04-30 23:59:59.999999999
2013-05 <MonthEnd> 2013-05-01 00:00:00 2013-05-31 23:59:59.999999999
2013-06 <MonthEnd> 2013-06-01 00:00:00 2013-06-30 23:59:59.999999999
2013-07 <MonthEnd> 2013-07-01 00:00:00 2013-07-31 23:59:59.999999999
2013-08 <MonthEnd> 2013-08-01 00:00:00 2013-08-31 23:59:59.999999999
2013-09 <MonthEnd> 2013-09-01 00:00:00 2013-09-30 23:59:59.999999999
2013-10 <MonthEnd> 2013-10-01 00:00:00 2013-10-31 23:59:59.999999999
2013-11 <MonthEnd> 2013-11-01 00:00:00 2013-11-30 23:59:59.999999999
2013-12 <MonthEnd> 2013-12-01 00:00:00 2013-12-31 23:59:59.999999999

In [64]:
s = np.random.randn(12)
s

array([ 0.36648911,  0.0995355 , -1.05464886,  0.57628738,  0.49688122,
       -1.09221105, -0.02144267, -1.36525561,  0.7497201 ,  0.94872682,
       -0.98828481, -0.42185617])

In [65]:
pandas_series = pd.Series(s, mp2013)
pandas_series
# this series has index labels containing Period Objects so the index is PeriodIndex rather than DatetimeIndex.
# this type of indexing is especially helpfull when we are interested in finding average prices each month rather than
# prices at specific dates.

2013-01    0.3664891
2013-02    0.0995355
2013-03   -1.0546489
2013-04    0.5762874
2013-05    0.4968812
2013-06   -1.0922111
2013-07   -0.0214427
2013-08   -1.3652556
2013-09    0.7497201
2013-10    0.9487268
2013-11   -0.9882848
2013-12   -0.4218562
Freq: M, dtype: float64